:root {
  --light-white: #F3F3F3;
  --light-gray: #79858C;
  --button-color: #2183D5;
  --very-dark: #0D0D0D;
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

header {
  width: 100%;
  height: 10rem;
  background-color: var(--light-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7rem;
}

a {
  text-decoration: none;
}

.logo {
  height: 5rem;
}


/*Barra de navegación*/
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 5em;
  z-index: 10;
}

.nav-list li a {
  color: var(--light-gray);
  font-size: 2rem;
  font-weight: 400;
  
}

.abrir-menu, 
.cerrar-menu{
  display: none;
}

/*Social media side bar*/

.social-media {
  position: absolute;
}

.mf-social-side-list {
  position: fixed;
  top: 40%;
  left: 0.7rem;
  z-index: 100;
}

.mf-social-side-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin:0
}

.mf-social-side-list ul li a {
  color: white;
  border-radius: 10%;
  width: 4rem;
  height: 4rem;
  line-height: 4.5rem;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.mf-social-side-list ul li a:hover {
  opacity: .9;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.mf-social-side-list ul li a i {
  font-size: 2rem;
}

.instagram-icon{
  background: rgb(98,60,199);
  background: linear-gradient(
    180deg, rgba(98,60,199,1) 0%, 
    rgba(238,50,119,1) 60%, 
    rgba(244,133,88,1) 100%);
}

.whatsapp-icon{
  background-color: #25D366;
  position: relative;
}

.whatsapp-icon::after {
  content: '1';
  position: absolute;
  top: -0.5rem; 
  right: -0.5rem;
  background-color: red; 
  color: white; 
  font-size: 1rem; 
  width: 1.8rem; 
  height: 1.8rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.mail-icon{
  background-color: #dd4b39;
}


/*Video*/
.intro-video {
  width: 100%;
  height: auto;
  z-index: -10;
}


/*Titulo productos*/
.productos h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  padding-top: 8rem;
  color: var(--very-dark);
}

.menu-productos{
  text-align: center;
  padding-top: 1rem;
  font-size: 2rem;
}

.menu-productos a {
  font-size: 2rem;
  color: var(--very-dark);
}


/*Productos*/
.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding: 12.2rem;
}

.card-producto {
  background-color: var(--light-white);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 0;
  justify-self: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-producto img {
  width: 100%;
}

.card-producto h2 {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.card-producto h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.card-producto h3 img {
  width: 1.5rem;
  margin: 0.5rem;
}

.info-btn {
  border: 0;
  background-color: var(--button-color);
  font-family: var(--secondary-font);
  padding: 1.5rem;
  font-size: 1.5rem;
  color: var(--light-white);
  border-radius: 60px;
  display: flex;
  margin: 2rem auto;
  cursor: pointer;
}


/*Info categorías*/
.categorias {
  background-color: var(--light-gray);
  text-align: center;
  margin: 5rem 4rem;
  padding: 1rem 10rem;
  border-radius: 10px;
  /*overflow: hidden;*/
}

.categorias div {
  font-size: 1.8rem;
  color: var(--light-white);
  margin: 6rem 0 4rem 0;
}

.categorias div a {
  color: var(--light-white);
  font-size: 2.8rem;
  font-weight: 400;
}

.categorias img {
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
}

.categorias p {
  text-align: center;
  font-size: 2rem;
  color: var(--light-white);
  margin: 3rem auto;
}


/*Imágenes categorías*/
.grid-categoria-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-categoria-img div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.grid-categoria-img div:nth-child(1) {
  background-image: url("../assets/img/smart-hub-controller.png");
}

.grid-categoria-img div:nth-child(2) {
  background-image: url("../assets/img/smart-lock-group.jpg");
}

.grid-categoria-img div h2 {
  color: white;
  font-size: 3.8rem;
  font-weight: 300;
  margin: 4rem 0 19rem 0;
}

.grid-categoria-img div .info-btn {
  background-color: white;
  color: black;
  border: 2px solid white;

}

.grid-categoria-img div button:hover {

}


/*Envíos*/
.section-envios-info {
  display: flex;
  justify-content: center;
  padding: 10rem 5rem ;
}

.envios-info {
  margin: 5rem;
  display: flex;
  align-items: center;
  color: var(--light-gray);

}

.envios-info .material-icons {
  font-size: 6rem;
  margin-right: 0.5rem;
}

.envios-info span:nth-child(2) {
  font-size: 3rem;
}


/*Footer*/
footer {
  background-color: var(--light-gray);
  width: 100%;
  height: auto;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem 1rem;
}

.footer-info-contactanos {
  color: var(--light-white);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-info-contactanos h2 {
  font-weight: normal;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.footer-info-contactanos div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.8rem;
}

.footer-info-contactanos h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.footer-info-contactanos div a{
  color: var(--light-white);
  font-size: 1.5rem;
  display: inline-block;
  padding: 2px 4px;
}

.footer-info-contactanos div a i {
  margin-right: 0.5rem;
}

.footer-logo img{
  width: 20rem;
}

.footer-social-media{
  display: none;
}

.footer-info-descarga {
  color: var(--light-white);
  text-align: center;

}

.footer-info-descarga h2 {
  font-weight: normal;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.footer-info-descarga-qr {
  border-radius: 5px;
  width: 35%;
}

.footer-info-descarga-img {
  margin-top: 2rem;
}

.footer-info-descarga-img img {
  width: 17rem;
}

.footer-personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  color: var(--light-white);
  padding-bottom: 2rem;
}

.footer-personal-info span{
  font-size: 1.5rem;
  margin-right: 1rem;
}

.footer-personal-info a{
  color: var(--light-white);
  font-size: 1.8rem;
  margin: 0.5rem 0.5rem  0;
}




@media screen and (max-width: 540px){

  /*Barra de navegación*/
  header {
    width: 100%;
    height: 8rem;
    padding: 3rem;
  }

  .logo {
    height: 3.5rem;  
  }
  
  .abrir-menu, 
  .cerrar-menu{
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--very-dark);
    padding: 3rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }  

  .nav-list {
    flex-direction: column;
    align-items: end;
    margin-top: 5rem;
  }

  .nav-list li a {
    color: var(--light-white);
    font-weight: 300;
    margin-left: 3rem;
  }


  /*Social media side bar*/
  .mf-social-side-list {
    position: fixed;
    top: 40%;
    left: 0.4rem;
    z-index: 100;
  }

  .mf-social-side-list ul li a {
    width: 3rem;
    height: 3rem;
    line-height: 3.5rem;
  }

  .mf-social-side-list ul li a i {
    font-size: 1.5rem;
  }

  
  .productos h1{
    font-size: 2.8rem;
    padding-top: 6rem;
  }

  .menu-productos {
    font-size: 1.5rem;
  }

  .menu-productos a {
    font-size: 1.5rem;
  }


  /*Productos*/
  .grid-productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 4rem;
  }


  /*Info categorías*/
  .categorias {
    margin: 3rem 0;
    padding: 1rem;
    border-radius: 0;
  }

  .categorias div {
    margin: 3rem 0;
  }

  .categorias div a {
    font-size: 1.5rem;
  }

  .categorias p {
    font-size: 1.2rem;
    margin: 3rem 0;
  }


  /*Imágenes categorías*/

  .grid-categoria-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  /*Envíos*/
  .section-envios-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5rem 0 ;
  }

  .envios-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .envios-info .material-icons {
    font-size: 4rem;
  }

  .envios-info span:nth-child(2) {
    font-size: 1.8rem;
  }


  /*Footer*/

  .footer-info-contactanos h2 {
    margin: 0.5rem;
    font-size: 2.4rem;
  }

  .footer-info-contactanos div a{
    text-decoration: underline;
  }

  .footer-info-contactanos div a .fi{
    display: inline-block;
    text-decoration: none;
  }

  .footer-logo{
    display: none;
  }

  .footer-info-contactanos div a:active {
    background-color: var(--light-white);
    color: var(--light-gray);
  }

  .footer-social-media{
    display: flex;
    margin: 4rem 0;
  }

  .footer-social-media a{
    font-size: 3rem;
    color: var(--light-white);
    margin: 0 1.5rem;
  }

  .footer-info-descarga h2 {
    font-size: 2.4rem;
  }

  .footer-info-descarga-img img {
    width: 15rem;
    margin: 0 1rem;
  }

}

@media screen and (min-width: 541px) and (max-width: 768px) {

  /*Barra de navegación*/
  header {
    width: 100%;
    height: 10rem;
    padding: 3rem;
  }

  
  .mf-social-side-list {
    position: fixed;
    top: 40%;
    left: 0.4rem;
    z-index: 100;
  }


  /*Productos*/
  .grid-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding: 5rem;
  }

  /*Info categorías*/
  .categorias {
    margin: 3rem 0;
    padding: 1rem;
    border-radius: 0;
  }

  .categorias div {
    margin: 3rem 0;
  }

  .categorias div a {
    font-size: 2.2rem;
  }

  .categorias p {
    font-size: 1.5rem;
    margin: 3rem;
  }


  /*Envíos*/
  .section-envios-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5rem 0 ;
  }

  .envios-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .envios-info .material-icons {
    font-size: 4.5rem;
    margin-right: 1rem;
  }

  .envios-info span:nth-child(2) {
    font-size: 2.5rem;
  }

  /*Footer*/

  .footer-logo{
    display: none;
  }

  .social-media-icons img {
    width: 4rem;
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /*Titulo productos*/
  .productos h1{
    font-size: 3rem;
    font-weight: 500;
  }

  .menu-productos{
    font-size: 1.8rem;
  }

  .menu-productos a {
    font-size: 1.8rem;
    color: var(--very-dark);
  }


  /*Productos*/
  .grid-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding: 5rem;
  }
  .categorias {
    padding: 1rem;
    margin: 2rem 0 4rem 0;
    border-radius: 0;
  }
  
  /*Info categorías*/
  .categorias {
    margin: 5rem 4rem;
    padding: 1rem 10rem;
    border-radius: 10px;
    /*overflow: hidden;*/
  }

  .categorias div {
    font-size: 2.5rem;
    margin: 4rem 2rem;
  }

  .categorias div a {
    font-size: 2.5rem;
    font-weight: 400;
  }

  /*Envíos*/
  .section-envios-info {
    padding: 8rem 2rem ;
  }

  .envios-info {
    margin: 3rem;
  }

  .envios-info .material-icons {
    font-size: 4rem;
    margin-right: 1rem;
  }
  
  .envios-info span:nth-child(2) {
    font-size: 2rem;
  }

  /*footer*/
  .footer-logo{
    display: none;
  }

}

@media screen and (min-width: 1025px) and (max-width: 2560px) {

  .grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    padding: 8rem;
  }

  /*Envíos*/
  .section-envios-info {
    padding: 8rem 2rem ;
  }

  .envios-info {
    margin: 3rem;
  }

  .envios-info .material-icons {
    font-size: 4rem;
    margin-right: 1rem;
  }
  
  .envios-info span:nth-child(2) {
    font-size: 2rem;
  }

}
