:root {
  --light-white: #F3F3F3;
  --light-gray: #79858C;
  --button-color: #2183D5;
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

header {
  width: 100%;
  min-width: 360px;
  height: 60px;
  background-color: var(--light-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav img {
  margin: 20px;
  width: 40px;
}

header a{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

header a img {
  width: 80px;
}





