:root {
  --light-white: #F3F3F3;
  --light-gray: #79858C;
  --button-color: #2183D5;
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--main-font);
}

header {
  width: 100%;
  min-width: 360px;
  height: 6rem;
  background-color: var(--light-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  width: 8rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 5rem;
}

.nav-list li a {
  text-decoration: none;
  color: #79858C;
}

.abrir-menu {
  display: none;
}

@media screen and (max-width: 500px){
  
  /*.abrir-menu {
    display: block;
  }

  nav {
    display: none;
  }*/

  nav {
    position: absolute;
  }

  .nav-list {
    flex-direction: column;
  }
    
}
